@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Moon+Dance&family=Noto+Sans&family=Righteous&display=swap');
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* height: 200vh; */
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px 0px 90px;
}
.logo{
    font-size: 24px;
    font-family: 'Righteous', sans-serif;
}
.home{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}
.heading{
    
    padding: 16px 0px 0px 520px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.sidebar-desctiption{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}
.sidebar{
    padding-bottom: 120px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.description{
    width: 600px;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #636161;
    /* padding-top: 20px; */
}
.colored-txt{
    color: #D2965E;
}
.team-img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 24px 0px;
}
.team-img{
   
    width: 85%;
    height: 370px;
    background-image: url(../assets/brooke-cagle--uHVRvDr7pg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.quote-sidepic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
}
.quoteword1{
    /* padding-bottom: 70px; */
}
.take-home{
    text-decoration: none;
    color: black;
}
.moondance{
    text-align: center;
    font-family: 'Moon Dance', sans-serif;
    font-size: 50px;
    /* max-width: 37px; */
}
.sam{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #636161;
    
}
.side-pic{
    background-image: url(../assets/florencia-viadana-1J8k0qqUfYY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 38%;
    height: 200px;
}